
@{
    ViewData["Title"] = "NotFoundPage";
}

<div class="text-center p-5">
    <h1>NOT FOUND</h1>
    <div class="p-5">
        <a href="/" class="btn btn-primary ">Back to Product List</a>
    </div>
</div>

