################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AcadaFrontEnd/bin/Debug/net6.0
/AcadaFrontEnd/obj
